In [23]:
import pymysql

In [43]:
db=pymysql.connect(host='localhost',user="root",password="1998zh2003")
cursor=db.cursor()
cursor.execute('select version()')
data=cursor.fetchone()
print('Database version',data)
# cursor.execute('CREATE DATABASE spiders DEFAULT CHARACTER SET UTF8') #重复操作会报错
db.close()

Database version ('5.7.25-0ubuntu0.16.04.2',)

## 创建表

In [46]:
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
# 下面这个也不能重复操作（创建表）
# cursor=db.cursor()
# sql='CREATE TABLE IF NOT EXISTS students(id VARCHAR(255) NOT NULL,name VARCHAR(255) NOT NULL,age INT NOT NULL,PRIMARY KEY(id) )'
# cursor.execute(sql)
db.close()

In [53]:
id="2016011463"
user="yanzhengwei"
age=21
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
cursor=db.cursor()
sql="INSERT INTO students(id,name,age) VALUES(%s,%s,%s)"
try:
    cursor.execute(sql,(id,user,age))
    db.commit()
    print("成功执行")
except:
    db.rollback()
    print("出错了")
db.close()

出错了

### 动态插入 通过字典实现

In [56]:
data={
    'id':'2016011111',
    'name':'saber',
    'age':'23'
}

In [57]:
type(data)

dict

In [ ]:
table='students'
keys=','.join(data.keys())
vaules=','.join(['%s']*len(data))
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
cursor=db.cursor()
sql='INSERT INTO {table}({keys}) VALUES({values})'.format(table=table,keys=keys,values=vaules)
try:
    if cursor.execute(sql,tuple(data.values())):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

## 更新数据

In [66]:
sql="UPDATE students SET age=%s WHERE name=%s"
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
cursor=db.cursor()
try:
    cursor.execute(sql,(25,'yanzhengwei'))
    db.commit()
except:
    db.rollback()
db.close()

## 删除数据

In [67]:
table='students'
condition='age>20'
sql='DELETE FROM {table} WHERE {condition}'.format(table=table,condition=condition)
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
cursor=db.cursor()
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()
db.close()

## 查询数据

In [70]:
sql="SELECT * FROM students WHERE age>=20"
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
cursor=db.cursor()
try:
    cursor.execute(sql)
    print('Count:',cursor.rowcount)
    one=cursor.fetchone()
    print('One:',one)
    results=cursor.fetchall()
    print('Results:',results)
    print('Results Type:',type(results))
    for row in results:
        print(row)
except:
    print('Error')

Count: 0
One: None
Results: ()
Results Type: <class 'tuple'>

In [75]:
sql='SELECT * FROM students WHERE age>=20'
db=pymysql.connect(host='localhost',user="root",password="1998zh2003",db='spiders')
cursor=db.cursor()
try:
    cursor.execute(sql)
    print('Count:',cursor.rowcount)
    row=cursor.fetchone()
    while row:
        print('Row:',row)
        row=cursor.fetchone()
except:
    print('Error')

Count: 3
Row: ('2016011464', 'yanerwei', 25)
Row: ('2016011465', 'yansanwei', 25)
Row: ('2016011466', 'yansiwei', 25)