In [1]:
import requests
import json
import csv
import pandas as pd
from pyquery import  PyQuery as pq

## TxT文本存储

In [2]:
url="https://www.zhihu.com/explore"

In [3]:
headers={
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.119 Safari/537.36'
}

In [4]:
html=requests.get(url,headers=headers).text

In [5]:
doc=pq(html)

In [6]:
items=doc(".explore-tab .feed-item").items()

In [7]:
for item in items:
    question=item.find('h2').text()
    author =item.find('.author-link-line').text()
    answer=pq(item.find('.content').html()).text()
    file=open('explore.txt','a',encoding='utf-8')
    file.write('\n'.join([question,author,answer]))
    file.write('\n'+'='*50+'\n')
    file.close()

## Json文件存储

In [8]:
str='''
[{
    "name":"Bob",
    "gender":"male",
    "birthday":"1992-10-18"
},
{
    "name":"Selina",
    "gender":"famale",
    "birthday":"1995-10-18"
}]
'''

In [9]:
type(str)

str

In [10]:
data=json.loads(str)

In [11]:
data

[{'name': 'Bob', 'gender': 'male', 'birthday': '1992-10-18'},
 {'name': 'Selina', 'gender': 'famale', 'birthday': '1995-10-18'}]

In [12]:
type(data)

list

In [13]:
type(data[0])

dict

In [14]:
data[0].get('name')

'Bob'

In [15]:
data[0]['name']

'Bob'

In [16]:
data[0].get('age')

In [17]:
data[0].get('age',20)

20

In [18]:
str='''
[{
    'name':'Bob',
    'gender':'male',
    'birthday':'1992-10-18'
}]
'''
# data=json.loads(str) # 会报错，解析不了，必须是""双引号

In [19]:
with open('data.json','r') as file:
    str=file.read()
    data=json.loads(str)
    print(data)

[{'name': '王伟', 'gender': '男', 'birthday': '1992-10-18'}]

In [20]:
data=[{
    'name':'Bob',
    'gender':'male',
    'birthday':'1992-10-18'
}]

In [21]:
with open('data.json','w') as file:
    file.write(json.dumps(data,indent=2))

In [22]:
data=[{
    'name':'王伟',
    'gender':'男',
    'birthday':'1992-10-18'
}]

In [23]:
with open('data.json','w') as file:
    file.write(json.dumps(data,indent=2))

In [24]:
with open('data.hson','w') as file:
    file.write(json.dumps(data,indent=2,ensure_ascii=False))

## CSV文件存储

In [25]:
with open('data.csv','w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['id','name','age'])
    writer.writerow(['1000','name1','20'])
    writer.writerow(['1001','name2','21'])
    writer.writerow(['1002','name3','22'])

In [26]:
with open('data.csv','w') as csvfile:
    writer=csv.writer(csvfile,delimiter=" ")
    writer.writerow(['id','name','age'])
    writer.writerow(['1000','name1','20'])
    writer.writerow(['1001','name2','21'])
    writer.writerow(['1002','name3','22'])

In [27]:
with open('data.csv','w') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(['id','name','age'])
    writer.writerow([['1000','name1','20'],['1001','name2','21'],['1002','name3','22']])

In [28]:
with open('data.csv','w') as csvfile:
    fieldnames=['id','name','age']
    writer=csv.DictWriter(csvfile,fieldnames=fieldnames)
    writer.writerow({'id':'10001','name':'name1','age':'20'})
    writer.writerow({'id':'10002','name':'name2','age':'21'})
    writer.writerow({'id':'10003','name':'name3','age':'22'})

In [29]:
# 追加写入 
with open('data.csv','a') as csvfile:
    fieldnames=['id','name','age']
    writer=csv.DictWriter(csvfile,fieldnames=fieldnames)
    writer.writerow({'id':'10001','name':'name1','age':'20'})
    writer.writerow({'id':'10002','name':'name2','age':'21'})
    writer.writerow({'id':'10003','name':'name3','age':'22'})

In [30]:
# 追加写入 写入中文 要追加 encoding属性，设置utf-8格式
with open('data.csv','a',encoding='utf-8') as csvfile:
    fieldnames=['id','name','age']
    writer=csv.DictWriter(csvfile,fieldnames=fieldnames)
    writer.writerow({'id':'10001','name':'管锋','age':'20'})
    writer.writerow({'id':'10002','name':'李二狗','age':'21'})
    writer.writerow({'id':'10003','name':'鸡毛扬','age':'22'})

In [31]:
# 从csv中读取
with open('data.csv','r',encoding='utf-8') as csvfile:
    reader=csv.reader(csvfile)
    for row in reader:
        print(row)

['10001', 'name1', '20']
['10002', 'name2', '21']
['10003', 'name3', '22']
['10001', 'name1', '20']
['10002', 'name2', '21']
['10003', 'name3', '22']
['10001', '管锋', '20']
['10002', '李二狗', '21']
['10003', '鸡毛扬', '22']

In [32]:
data=pd.read_csv('data.csv',encoding='utf-8')

In [33]:
data

   10001  name1  20
0  10002  name2  21
1  10003  name3  22
2  10001  name1  20
3  10002  name2  21
4  10003  name3  22
5  10001     管锋  20
6  10002    李二狗  21
7  10003    鸡毛扬  22